@using BlogSnippet.Models;

@if (ViewBag.Blogs != null)
{
    <section class="blogs">
        <h2>Blogs</h2>

        @foreach (var blogpost in (List<BlogPost>)ViewData["Blogs"])
        {
            <div class="blog col-xs-12 clearfix">
                <h3>@blogpost.Title</h3>
                <span class="date">
                    <strong>Dato</strong><span>@blogpost.Created</span>
                </span>
                

                @if (!string.IsNullOrWhiteSpace(blogpost.Image))
                {
                    <div class="image pull-right col-xs-4">
                        <img src="@blogpost.Image" class="col-xs-12" alt="@blogpost.Title" />
                    </div>
                }

                <div class="content">
                    @Html.Raw(blogpost.Content)
                </div>
            </div>
          
        }
    </section>
}